p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.mce {
  background-color: #f6ffe6;
  border-radius: 5px;
  padding: 20px;
  font-weight: normal;
  font-style: normal;
  color: black;
}
