p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

div.concepts {
  background-color: #f6ffe6;
  border-radius: 5px;
  padding: 20px;
  font-weight: normal;
  font-style: normal;
  color: black;
}

div.citations {
  background-color: #F5FFFA;
  border-radius: 5px;
  padding: 20px;
  font-weight: normal;
  font-style: normal;
  color: black;
}

div.advanced {
  background-color: #ffc0cb;
  border-radius: 5px;
  padding: 20px;
  font-weight: normal;
  font-style: normal;
  color: black;
}

/* Below from: https://stackoverflow.com/questions/43706851/r-bookdown-tabbed-headings

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}